# Data Fusion
## Join

In [2]:
#Nesse caso será necessário recor aos indexes da Aula11:
import pandas as pd

In [3]:
dfClientes = pd.read_excel('caso_estudo.xlsx', sheet_name = 'clientes')
dfLojas = pd.read_excel('caso_estudo.xlsx', sheet_name = 'lojas')
dfPagamentos = pd.read_excel('caso_estudo.xlsx', sheet_name = 'pagamentos')
dfProdutos = pd.read_excel('caso_estudo.xlsx', sheet_name = 'produtos')
dfVendas = pd.read_excel('caso_estudo.xlsx', sheet_name = 'vendas')

### Adicionando conteúdo da Aula11

In [5]:
#Esse caso está substituindo os valores nulos por informações que são possíveis de rastrear depois:
dfClientes.loc[dfClientes.nome.isnull(),'nome'] = 'Sem Nome'
dfClientes.loc[dfClientes.sexo.isnull(),'sexo'] = 'O'
dfClientes.loc[dfClientes.dt_nasc.isnull(),'dt_nasc'] = '01/01/2020'

#Formato das datas:
dfClientes.dt_nasc = pd.to_datetime(dfClientes.dt_nasc, format = '%m/%d/%Y')

#Manipulando um valor específico de um produto, feito na Aula11:
#Manipulando o valor do produto 'xxx-231a' para chegar em um valor real:
dfProdutos.loc[9, 'valor'] = dfProdutos.valor[9]/10000
dfProdutos
#Indexes feitos na Aula11:
dfClientes = dfClientes.set_index('id')
dfLojas = dfLojas.set_index('id')
dfProdutos = dfProdutos.set_index('id')
dfVendas = dfVendas.set_index('id')
dfPagamentos = dfPagamentos.set_index('id')

In [6]:
df = dfVendas.join(dfClientes.add_prefix('cliente_'), on = 'id_cliente')
df = df.join(dfLojas.add_prefix('loja_'), on = 'id_loja')
df = df.join(dfProdutos.add_prefix('produto_'), on = 'id_produto')

In [7]:
#Está ocorrendo um 'join' entre a tabela 'df' e a Pagamento, dizendo que os id_cliente tem conexão com o id_venda, dentro da tabela 'Pagamentos', assim inserindo as
#colunas da tabela 'Pagamentos', nesse caso a 'dt_pgto':
df = df.join(dfPagamentos.set_index('id_venda'))
df

,id_cliente,id_loja,id_produto,dt_venda,cliente_nome,cliente_sexo,cliente_dt_nasc,loja_cidade,produto_produto,produto_valor,dt_pgto
id,,,,,,,,,,,
1,393,9,3,2018-01-04,Gustavo Silva,M,1950-01-04,Palmas,laptop básico,2300.0,2018-01-24
2,417,9,3,2018-01-04,Leonor Almeida,F,1972-01-31,Palmas,laptop básico,2300.0,2018-02-17
3,374,7,8,2018-01-04,André Alves,M,1962-08-03,Salvador,cadeira,540.0,2018-02-14
4,59,4,3,2018-01-05,Rodrigo Ribeiro,M,1941-11-05,Belo Horizonte,laptop básico,2300.0,NaT
5,18,9,1,2018-01-05,Antônio Azevedo,M,1941-04-15,Palmas,mouse,20.0,2018-01-23
...,...,...,...,...,...,...,...,...,...,...,...
2996,671,3,7,2020-09-27,Ana Goncalves,F,1999-10-31,Curitiba,carregador,150.0,2020-10-17
2997,586,8,3,2020-09-27,Aline Pinto,F,1994-03-29,Brasília,laptop básico,2300.0,2020-10-02
2998,731,2,4,2020-09-27,Otávio Silva,M,1986-05-04,Rio de Janeiro,laptop gamer,5300.0,NaT
2999,163,2,1,2020-09-27,Ana Pereira,F,1967-01-10,Rio de Janeiro,mouse,20.0,NaT
3000,770,2,2,2020-09-27,Beatrice Castro,F,1944-06-25,Rio de Janeiro,teclado,30.0,NaT

In [8]:
#Verificando se algum dado foi inserido como nulo:
df.isnull().sum()
#só irá existir pagamentos nulos, visto que existem vendas que ainda não foram pagas...
#Por isso é bom você fazer o 'Join' somente depois de toda a limpeza, para que não haja uma grande quantidade de dados nulos entre as tabelas, deixam mais simples de
#resolver os problemas...

id_cliente           0
id_loja              0
id_produto           0
dt_venda             0
cliente_nome         0
cliente_sexo         0
cliente_dt_nasc      0
loja_cidade          0
produto_produto      0
produto_valor        0
dt_pgto            928
dtype: int64